body,
html {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}
 /*  Animação - Home */ 

.video-container {
    margin-top: 1.25rem;
}

.content {
    align-items: center;
    justify-content: space-between;
}
/*  NAVBAR */

.navbar-item.active {
    color: #ffd700 !important;
    border: 2px solid #ffd700;
}

.navbar {
    background: transparent;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-menu {
    background: rgba(0, 0, 0, 0.8);
    /* Altera a cor de fundo para preto semi-transparente */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    /* Adiciona uma sombra de caixa */
    transition: all 0.3s ease;
    /* Adiciona uma transição suave para todas as propriedades */
    z-index: 1001;
    position: relative;
}

.navbar-item {
    color: white !important;
    text-shadow: 0.125em 0.125em 0.25em rgb(0, 0, 0);
    transition: color 0.3s ease;
}

.navbar-item:hover {
    color: #ffd700 !important;
}

/*  Efeito NAVBAR  */

.pulse {
    --color: #ffd700;
    --hover: #DAA520;
    color: var(--color);
    transition: 0.25s;
    background: none;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    border-radius: 25px;
    /* Adiciona bordas arredondadas */
}

.pulse:hover,
.pulse:focus {
    border-color: var(--hover);
    color: #ffd700;
    animation: pulse 1s;
    box-shadow: 0 0 0 2em transparent;
}


@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}

.cursor {
    display: inline-block;
    width: 0.0625rem;
    height: 1em;
    background-color: white;
    animation: blink 1s infinite;
}

.container {
    padding-top: 1.5rem;
}

/*  BOTÃO - HOME */
.custom-button-container {
    margin-top: 1em;
}

.custom-button {
    border-radius: 1.5625rem;
    padding: 0.625rem 1.25rem;
    border: 0.125rem solid #ffd700;
    background-color: transparent;
    color: #ffffff;
}

.custom-button:hover {
    border-color: #ffd700;
    background-color: #ffffff21;
    color: #ffd700;
}

/* MOBILE */


@media screen and (max-width: 48em) {

    body,
    html {
        font-size: 18px;
        /* Aumenta o tamanho da fonte */


        #about {
            padding: 1rem;
            /* Adiciona um padding ao redor da seção */
        }


  
    }

    .navbar-burger.burger {
        color: #080808;
        background-color: #ffd700;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
        transition: all 0.3s ease;
    }

    .footer {

        padding: 1.25rem;
        position: relative;
        bottom: 0;
        width: 100%;
        z-index: 1000;
    }

    .navbar-burger.burger:hover {
        background-color: #ffaa00;
    }

    .video-container {
        margin-top: 4.25rem;
        /* Aumenta o espaçamento */
    }

    .content {
        flex-direction: column;
        align-items: center;
        margin-top: 2.25rem;
        /* Aumenta o espaçamento */
    }

    .content>div {
        width: 100%;
        text-align: center;
    }

    .navbar {
        padding: 0 1.25rem;
    }

    .pulse {
        font-size: 1.2em;
        /* Aumenta o tamanho do botão */
        margin: 1em;
        /* Aumenta o espaçamento */
    }

    .custom-button {
        font-size: 1.2em;
        /* Aumenta o tamanho do botão */
        padding: 1rem 2rem;
        /* Aumenta o padding do botão */
    }

    h1,
    h2 {

        padding: 0.5rem;
        font-size: 2em;
        /* Aumenta o tamanho da fonte dos títulos */
    }

    .navbar-item {
        font-size: 1.2em;
        /* Aumenta o tamanho da fonte dos itens da navbar */
    }

    .fab {
        font-size: 2rem;
        /* Aumenta o tamanho da fonte dos ícones */
    }
}

.fab:hover {
    color: #ffd700 !important;
}

h3 {
    color: #DAA520 !important;
    text-align: center;
    line-height: 1.5;

    padding: 10px;
    border-radius: 5px;
}

/* DESKTOP */


@media screen and (min-width: 1024px) {
    #about {
        margin-bottom: 50px;
        /* Aumenta a margem inferior */


    }

    h3 {
        color: #FFFFFF;
        /* Altera a cor do texto para branco */
        text-align: center;
        line-height: 1.5;
        font-size: 2em;
        /* Aumenta o tamanho da fonte */
        font-family: 'Arial', sans-serif;
        /* Altera a fonte */
        text-shadow: 2px 2px 4px #ffd90071;
        ;
        /* Adiciona uma sombra ao texto */
    }

    h1,
    h2 {

        padding: 0.2rem;
        font-size: 2em;
        /* Aumenta o tamanho da fonte dos títulos */
    }

    .footer,
    .footer-inicio {
        padding: 1rem;
        /* Aumenta o padding */
        position: relative;
        /* Fixa o footer na parte inferior da página */
    }
}

.footer,
.footer-inicio {
    background: transparent;
    color: #fff;
    padding: 0rem;
    /* Reduz o padding */
    position: relative;
    /* Fixa o footer na parte inferior da página */
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.footer p,
.footer-inicio p {
    margin-bottom: 0.5em;
}

/* Mobile SOBRE */

@media screen and (min-width: 48em) {
    .social-icon {
        font-size: 1.5em; /* Aumenta o tamanho do ícone */
    }
}

@media screen and (max-width: 48em) {
    .social-icon {
        font-size: 1.2em; /* Aumenta o tamanho do ícone */
    }

    h3 {
        color: #FFFFFF;
        /* Altera a fonte */
        text-shadow: 2px 2px 4px #ffd90071;
    }
}


.footer a,
.footer-inicio a {

    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;

}

.footer a:hover,
.footer-inicio a:hover {
    color: #ffd700;
}

.footer-fixed {
    position: fixed;
    bottom: 0;
}



/* VIDEO INICIO */

.hero-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-container {
    margin-bottom: -50px;
    /* Ajuste este valor conforme necessário */
}

.container.has-text-centered {
    margin-top: -50px;
    /* Ajuste este valor conforme necessário */
}

/* SCROLL BAR */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.897);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #ffd700;
    border-radius: 10px;
    border: 2px solid #000000;
    /* Adiciona uma borda ao redor do polegar da barra de rolagem */
}

::-webkit-scrollbar-thumb:hover {
    background: #DAA520;
    /* Uma cor amarela um pouco mais escura quando o mouse passa por cima */
}

/* FOGUETE */

@keyframes launch {
    0% { 
        transform: translate(0, 0); 
        opacity: 1;
    }
    100% { 
        transform: translate(300px, -300px); 
        opacity: 1;
    }
}

@keyframes fall {
    0% { 
        transform: translate(300px, -300px) rotate(0deg); 
        opacity: 1;
    }
    100% { 
        transform: translate(300px, 0) rotate(360deg); 
        opacity: 1;
    }
}

@keyframes restart {
    0%, 20%, 40%, 60%, 80%, 100% {
        transform: translate(300px, 0) rotate(-45deg);
    }
    10%, 30%, 50% {
        transform: translate(320px, 0) rotate(-30deg);
    }
    70% {
        transform: translate(310px, 0) rotate(-35deg);
    }
    90% {
        transform: translate(290px, 0) rotate(-40deg);
    }
}

@keyframes shake {
    0%, 100% {
        transform: translate(0, 0) rotate(0deg) scale(1);
    }
    25% {
        transform: translate(5px, 0) rotate(-1deg) scale(1.2);
    }
    50% {
        transform: translate(-5px, 0) rotate(1deg) scale(1.5);
    }
    75% {
        transform: translate(5px, 0) rotate(-1deg) scale(1.8);
    }
}

@keyframes tremor {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-2px);
    }
    50% {
        transform: translateX(2px);
    }
    75% {
        transform: translateX(-2px);
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes flyaway {
    0% {
        transform: scale(1) translate(300px, 0);
    }
    50% {
        transform: scale(1.5) translate(650px, -500px);
    }
    100% {
        transform: scale(1) translate(1000px, -1000px);
    }
}

.fas.fa-rocket {
    animation: scale 1s ease-in-out forwards,
               shake 4s 1s ease-in-out forwards,
               launch 2.5s 5s ease-in-out forwards,
               fall 4s 7.5s forwards,
               flyaway 5s 11.5s forwards;
}

.fas.fa-rocket.running-during-scale {
    animation: tremor 1s infinite ease-in-out alternate both;
}


/* Para dispositivos móveis */

@media (max-width: 600px) {

#rocket {
    transform: rotate(-45deg);
}

    @keyframes launch {
    0% { 
        transform: translate(0, 0) rotate(-45deg); 
        opacity: 1;
    }
    100% { 
        transform: translate(0, -333px) rotate(-45deg); 
        opacity: 1;
    }
}

    
    @keyframes fall {
        0% { 
            transform: translate(0, -333px) rotate(-45deg); 
            opacity: 1;
        }
        90% { 
            transform: translate(0, 0) rotate(360deg); 
            opacity: 1;
        }
        100% { 
            transform: translate(0, 0) rotate(-45deg); 
            opacity: 1;
        }
   
    }


    @keyframes relaunch {
        0% { 
            transform: translate(0, 0) rotate(-45deg); 
            opacity: 1;
        }
        100% { 
            transform: translate(0, -333px) rotate(-45deg); 
            opacity: 1;
        }
    }
    
    @keyframes moveLeft {
        0% { 
            transform: translate(0, -333px) rotate(-140deg) scale(1); 
        }
        25% {
            transform: translate(0, -333px) rotate(-140deg) scale(1.2); 
        }
        50% {
            transform: translate(0, -333px) rotate(-140deg) scale(1.5); 
        }
        75% {
            transform: translate(0, -333px) rotate(-140deg) scale(1.8); 
        }
        85% {
            transform: translate(0, -333px) rotate(-140deg) scale(2); 
        }
        90% {
            transform: translate(0, -333px) rotate(-140deg) scale(1); 
        }
        100% { 
            transform: translate(-2000px, -333px) rotate(-140deg) scale(1);
        }
    }
    
    .fas.fa-rocket {
        animation: launch 2.5s ease-in-out 1s forwards, 
                   fall 2s 3.5s forwards,
                   relaunch 1s 5.5s forwards,
                   moveLeft 1s 6.5s forwards;
    }
}